<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="letmelisten.unibo.studio.letmelisten">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SetupActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicRetrieverActivity"
         android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".StationActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ListenerActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <service android:name=".connection.handshake.server.WelcomeService"/>
        <service android:name=".connection.connection_managers.server.ServerConnectionManager"/>
        <service android:name=".connection.connection_managers.client.ClientConnectionManager"/>
        <service android:name=".music_player.MusicPlayer"/>
    </application>

</manifest>
